<a href="https://colab.research.google.com/github/Sterwinxs/Formacao-Data-Science/blob/main/Transformar_uma_v%C3%A1riavel_em_Data_Frame_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

 Leitura de Arquivo CSV, atribuindo o próprio para uma Variável.

In [15]:
tmdb= pd.read_csv("tmdb_5000_movies.csv")

Transformando uma váriavel em um Data Frame.

In [21]:
contagem_de_lingua = tmdb.original_language.value_counts().to_frame().reset_index() # Transformamos as informações para um Data frame.

Podemos observar que a coluna 1 apareceu como o index, e o número de totais como original_language, iremos arrumar!

In [22]:
contagem_de_lingua

   index  original_language
0     en               4505
1     fr                 70
2     es                 32
3     zh                 27
4     de                 27
5     hi                 19
6     ja                 16
7     it                 14
8     cn                 12
9     ru                 11
10    ko                 11
11    pt                  9
12    da                  7
13    sv                  5
14    nl                  4
15    fa                  4
16    th                  3
17    he                  3
18    ta                  2
19    cs                  2
20    ro                  2
21    id                  2
22    ar                  2
23    vi                  1
24    sl                  1
25    ps                  1
26    no                  1
27    ky                  1
28    hu                  1
29    pl                  1
30    af                  1
31    nb                  1
32    tr                  1
33    is                  1
34    xx                  1
35    te                  1
36    el                  1

In [23]:
contagem_de_lingua.columns = ["original_language", "Total"]
contagem_de_lingua.head()

  original_language  Total
0                en   4505
1                fr     70
2                es     32
3                zh     27
4                de     27